body {
	background: #C6E2FF ;

}


.mainheading {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}
    

.subheading {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}

.topnav {
    overflow: hidden;
    background-color: #023868;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #3988ce;
    color: black;
}

.topnav a.active {
    background-color: #3988ce;
    color: white;
}

.column1 , .column2 {
    width: 600px;
    float: left;
    margin: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}  

#home {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


